@mixin flexStyle(
  $align_items: center,
  $justify_content: center,
  $flex-direction: row
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align_items;
  justify-content: $justify_content;
}

main{
    width: 100vw;
    @include flexStyle();
    padding: 20px;
}