
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flexStyle(
  $align_items: center, 
  $justify_content: center, 
  $flex-direction: row
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align_items;
  justify-content: $justify_content;
}

@mixin grid-container(
$columns: auto, 
$rows: auto, 
$gap: 0,
$justify-items: start,
$align-items: start
) {
display: grid;
grid-template-columns: $columns;
grid-template-rows: $rows;
gap: $gap;
justify-items: $justify-items;
align-items: $align-items;
}

// Usage Example for mixins

// .container {
//     @include grid-container(
//       1fr 1fr 1fr,    // 3 columns of equal width
//       auto,            // Rows will adjust based on content
//       16px,            // Gap between grid items
//       center,          // Center items horizontally
//       center           // Center items vertically
//     );
// }

