@import 'ui/libraries/shared-styles/edu-mixins.scss';

.get-started {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(44, 67, 88, 0.9), rgba(19, 32, 45, 0.9));
  @include flexStyle(center, center, column);
  gap: 4px;
  .welcome{
    font-size: 24px;
    color: #ffff;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .container {
    background-color: #ffff;
    width: 95%;
    max-width: 450px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    @include flexStyle(center, center, column);
    .top {
      width: 100%;
      cursor: pointer;
      @include flexStyle(center, center, row);
      .tab {
        width: 50%;
        height: 40px;
        background-color: #ffff;
        color: rgba(19, 32, 45, 0.8);
        font-size: 16px;
        font-weight: 700;
        border-bottom: 3px solid #ffff;
        @include flexStyle(center, center, row);
      }
      .selected {
        border-bottom: 3px solid #14212e;
      }
    }
    .main {
      padding: 10px;
      width: 100%;
      form {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 500px;
        @include flexStyle(center, center, column);
        gap: 20px;
        .field{
          width: 100%;
          @include flexStyle(center, center, column);
          div{
            width: 95%;
            padding: 0 8px;
            small{
              color: red;
            }
          }
          input {
            width: 95%;
            height: 35px;
            font-size: 14px;
            outline: none;
            border: 1px solid #e0e0e0;
            border-radius: 6px;
            padding: 4px;
          }
          input:focus {
            border: 1px solid #14212e;
            color: #073b6e;
          }
        }
        .seprator {
          width: 95%;
          @include flexStyle(center, center, row);
          font-size: 12px;
          color: #e0e0e0;
          div {
            width: 45%;
            border-bottom: 1px solid #e0e0e0;
          }
          span {
            padding: 0 5px;
          }
        }
        img {
          width:200px
        }
      }
    }
    .footer{
      width: 100%;
      padding: 10px;
      @include flexStyle(center, center, column);
      transition: all 0.3s;
      button {
        width: 95%;
        height: 40px;
        background-color: #14212e;
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s;
        outline: none;
        border: none;
      }
      button:hover {
        background-color: #a77223;
      }
    }
  }
}

.enterFromLeft {
  opacity: 0;
  transform: translateX(-100%);
  animation: enterFromLeft 0.5s forwards;
}

@keyframes enterFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.enterFromRight {
  opacity: 0;
  transform: translateX(100%);
  animation: enterFromRight 0.5s forwards;
}
.disabled {
  pointer-events: none;
  transform: translateY(100%);
}